@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
.noto-serif kr-regular {
    font-family: "Noto Serif KR", serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
    background-color : #F4F5F7;
  }


.horizontal-line {
    position: relative;
    width: 100%; /* 수평선이 화면 전체 너비를 가지도록 설정 */
    height: 2px; /* 수평선의 높이 설정 *position : relative;*/
    background-color: #000000; 
} /* 문제 없음 */


.headtitle {
    display: flex;
    justify-content:center;
    font-size:32px;
    font-family: "Noto Serif KR", serif;
  }
  .move{
    right:300px;
  }
  .go-behind{
    
    position:relative;
    left : -165px;
  }
  .title{
    text-align: center; /* 텍스트 가운데 정렬 */
    position : relative;

  }

.horizontal-line {
    width: 100%; /* 수평선이 화면 전체 너비를 가지도록 설정 */
    height: 2px; /* 수평선의 높이 설정 *position : relative;*/
    background-color: #000000; 
} /* 문제 없음 */

.helpertext{
  background-color: transparent;
  border: 1px;
}
.goback-tologin{
  display: flex;
  width : 40px;
  font-size : 30px;
  position : relative;
  left : -300px;
  top : -18px;
}
.big-join{
    display: flex;
    flex-direction: row;
    justify-content: center; /* 가로축 */
    align-items: center; /* 세로축 */
} /* 회원가입 글씨 부분 */ 
.functions{

  display: flex;
  flex-direction:row;
  justify-content: center; /* 가로축 */
  align-items: center; /* 세로축 */
  font-weight: bold;


}
.go-behind:hover{
  cursor:pointer;
}
.plus{
  font-size: 80px;
  font-weight: 10;
  
}
#input-file{
  display:none;
}

.for-buttons{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content : center;
}

label{
  display: flex;
  flex-direction: row;
  justify-content: center; /* 가로축 */
  align-items: center; /* 세로축 */

  background-color: #c4c4c4; /*배경 색을 설정(원하는 걸로 바꿔도 됨)*/
  font-weight: 100; /*폰트 사이즈를 500으로 바꿈*/
  font-size : 80px;
  cursor: pointer; 
  border-radius: 50%; /*버튼의 둥근 정도를 설정*/

  width :149px;
  height : 149px;
}

.go-login{
  display: flex;
  flex-direction: row;
  justify-content: center; /* 가로축 */
  align-items: center; /* 세로축 */
  
  
}
.join{
  background-color: #ACA0EB;
  color: white;
  border-radius: 4px;
  border-color : #ACA0EB;
  border : 1px;

}
.go-login:hover{
  cursor:pointer;
}
.prf-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 149px;
  height: 149px;
  border-radius: 50%;
  display: none;
}

.prf-img {
  position: relative;
}

.prf-img label {
  display: inline-block;
  width: 149px;
  height: 149px;
  border-radius: 50%;
  background-color: #c4c4c4; /* 테두리 스타일과 색상 설정 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  overflow: hidden;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.prf-img label::before {
  content: '+'; /* 아이콘 또는 텍스트 추가 */
  font-size: 50px; /* 아이콘 또는 텍스트 크기 설정 */
  font-weight: 50;
  display: block;
  line-height: 149px; /* 아이콘 또는 텍스트를 가운데 정렬 */
  text-align: center; /* 아이콘 또는 텍스트를 가운데 정렬 */
}

.prf-img label.has-image::before {
      content: '';
    }